*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

header, #content-1, #content-2, footer {
	position: relative;
}

.images {
	position: absolute;
}

.w3-italic {
	font-style: italic;
}

.w3-bold {
	font-weight: 700;
}

.w3-border-light-blue {
	border-color: #00aee0!important;
}

/*
	==================================================
	Backgrounds
	==================================================
*/

header {
	background: url(../img/blue-pattern.jpg) repeat;
}

#content-1, #subscription {
	background: rgb(244,244,244);
}

#donations {
	background: url(../img/green-pattern.jpg) repeat;
}

/*
	==================================================
	Containers (width, height, general font color etc.)
	==================================================
*/

.main-container {
	width: 1260px;
	padding: 160px;
	overflow: hidden;
}

.header-container {
	height: 651px;
	padding-top: 30px;
	padding-bottom: 200px;
	color: #fff;
}

.content-1-container {
	height: 650px;
	padding-top: 130px;
	padding-bottom: 150px;
	color: rgba(0, 0, 0, 0.45);
}

.content-2-container {
	height: 650px;
	padding-top: 90px;
	color: rgba(0, 0, 0, 0.45);
}

.donations-container {
	height: 326px;
	padding-top: 80px;
	color: #fff;
}

.subscription-container {
	height: 649px;
	padding-top: 242.5px;
}

.footer-container {
	height: 101px;
	padding-top: 45px;
	padding-bottom: 35px; 
	color: rgba(0, 0, 0, 0.6);
}

/*
	==================================================
	Buttons
	==================================================
*/

.btn {
	padding-bottom: 18px;
	padding-top: 18px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0px;
	text-transform: uppercase;
	background: none;
	border: 1.5px solid #fff;	
	border-radius: 2px;
}

.btn i {
	margin-left: 10px;
	font-size: 15px;
}

.btn-header {
	padding-right: 28px;
    padding-left: 28px;
	color: #fff;
	border-color: #fff;
}

.btn-content-1 {
    padding-right: 32px;
    padding-left: 32px;
	color: rgb(1,176,143);
	border-color: rgb(1,176,143);
}

.btn-content-2 {
    padding-left: 32px;
    padding-right: 32px;
	color: rgb(255,75,140);
	border-color: rgb(255,75,140);
    letter-spacing: -0.5px;
}

.btn-content-2 i {
	font-weight: 700;
}

.btn-donations {
	padding-left: 35px;
	padding-right: 35px;
	color: #fff;
	border-color: #fff;
}

/*
	==================================================
	Typography
	==================================================
*/

@font-face {
    font-family: BlackJack; /* Гарнитура шрифта */
    src: url(../fonts/BLACKJAR.ttf); /* Путь к файлу со шрифтом */
}

body {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	font: 400 70px 'BlackJack', cursive;
}

h2, h3 {
	font-size: 36px;
	font-weight: 300;
}

h2 {
	letter-spacing: -1px;
	margin-bottom: 30px;
	color: rgba(0, 0, 0, 0.7);
}

h3 {
	letter-spacing: 0.25px;
    font-size: 37px;
}

p {
	font-size: 15px;
	font-weight: 500;
	line-height: 24.5px;
	letter-spacing: 0px;
	margin-bottom: 25px;
}

button {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.5px;
}

/*
	==================================================
	Header
	==================================================
*/

#logo {
	float: left;
	margin-top: -30px;
	padding: 1px 37.5px 27px 37.5px;
	font: 50px 'Kaushan Script', cursive;
	color: rgb(1,171,230);
	background: #fff;
	box-shadow: 15px 15px 1px rgb(1,177,234);
}

#menu-icon {
	margin-top: -2px;
	font-size: 30px;
	text-align: right;
}

#header-content {
	margin-top: 79px;
	margin-right: -5px;
	text-align: right;
}

#header-content p {
	margin-top: 30px;
	font-size: 32px;
	font-weight: 200;
	line-height: 17.5px;
	letter-spacing: 0px;
}

.btn-header {
	margin-top: 34px;
	margin-right: 5px;
}

header img {
	top: 385px;
	left: 230px;
}

/*
	==================================================
	Content-1
	==================================================
*/

.content-1-content {
	width: 60%;
}

.btn-content-1 {
	margin-top: 43px;
}

#content-1 img {
	bottom: -72.5px;
	right: -70px;
}

/*
	==================================================
	Content-2
	==================================================
*/

.content-2-content {
	width: 42%;
	margin-left: auto;
}

.btn-content-2 {
	margin-top: 34px;
}

.accented-text {
	color: rgba(0, 0, 0, 0.65);
}

#content-2 img {
	bottom: -55px;
	left: -80px;
}

/*
	==================================================
	Donations
	==================================================
*/

#donations {
	text-align: center;
}

.btn-donations {
	margin-top: 26px;
}

/*
	==================================================
	Subcription
	==================================================
*/

#subscription {
	text-align: center;
}

#social-networks-icons div {
	display: inline-block;
	width: 55px;
	height: 55px;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 22px;
	color: rgb(83,83,83);
	border: 3px solid rgb(83,83,83);
	border-radius: 50%;
}

#social-networks-icons i {
	margin-top: 13px;
}

#subscription-form {
	margin-top: 67px;
}

#subscription-form label span {
	margin-right: 10px;
	letter-spacing: -0.25px;
    color: rgba(0, 0, 0, 0.6);
}

#subscription-form > div {
	display: inline-block;
	width: 216px;
	padding: 9.5px 18px;
	background: #fff;
	border-radius: 9px;
	text-align: left;
}

#subscription-input-wrapper {
	display: inline-block;
	width: 90%;
}

#subscription-form input {
	width: 85%;
	outline: none;
	font-size: 12px;
	color: rgba(0, 0, 0, 0.5);
}

#subscription-input-wrapper:after {
	content: "|";
	font-size: 14px;
	color: rgba(0, 0, 0, 0.1);
}

#subscription-form i {
	float: right;
	margin-top: 0.25em;
	font-size: 15px;
	color: #6cc8ff;
}

/*
	==================================================
	Footer
	==================================================
*/

footer {
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.5px;
	text-align: center;
}

footer a {
	font-style: normal;
	text-decoration: none;
	color: #6cc8ff;
}

#btn-up {
	position: absolute;
	top: 32.5px;
	right: 60px;
	width: 40px;
	height: 40px;
	font-size: 20px;
	background: rgb(244,244,244);
	border: none;
	border-radius: 4px;
}