*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.5); /*6e6e6e*/
	font-weight: 500;
}

header, #content-1, #content-2 {
	position: relative;
}

.images {
	position: absolute;
}

.w3-italic {
	font-style: italic;
}

.w3-bold {
	font-weight: 700;
}

/*
	==================================================
	Backgrounds
	==================================================
*/

#content-1, #subscription {
	background: #eee;
}

#donations {
	background: #ccc url(../img/green-pattern.jpg) repeat;
}

/*
	==================================================
	Containers
	==================================================
*/

.main-container {
	width: 1260px;
	padding: 160px;
	overflow: hidden;
}

.header-container {
	height: 651px;
	padding-top: 30px;
	padding-bottom: 200px;
}

.content-1-container {
	height: 650px;
	padding-top: 130px;
	padding-bottom: 150px;
}

.content-2-container {
	height: 650px;
	padding-top: 90px;
}

.donations-container {
	height: 326px;
	padding-top: 80px;
}

.subscription-container {
	height: 649px;
	padding-top: 242.5px;
}

.footer-container {
	height: 43px;
	padding-top: 40px;
	padding-bottom: 40px; 
}

/*
	==================================================
	Buttons
	==================================================
*/

.btn {
	position: relative;
	margin-top: 20px;
	padding: 10px 29px 15px 29px;
	font-variant: small-caps;
	font-size: 20px;
	font-weight: 100;
	background: none;
	border: 1.5px solid #fff;	
	border-radius: 2px;
}

.btn i {
	margin-left: 5px;
	font-size: 15px;
}

.btn-header {
	color: #fff;
	border-color: #fff;
}

.btn-donations {
	padding-left: 35px;
	padding-right: 35px;
	color: #fff;
	border-color: #fff;
}

.btn-content-1 {
	color: #3ECF93;
	border-color: #3ECF93;
}

.btn-content-2 {
	color: #DD61B2;
	border-color: #DD61B2;
}

/*
	==================================================
	Typography
	==================================================
*/

@font-face {
    font-family: BlackJack; /* Гарнитура шрифта */
    src: url(../fonts/BLACKJAR.ttf); /* Путь к файлу со шрифтом */
}

h1 {
	font: 400 70px 'BlackJack', cursive;
}

h2, h3 {
	font: 100 35px 'Montserrat', sans-serif;
}

h2 {
	margin-bottom: 30px;
}

p {
	font: 400 15px/24.5px 'Montserrat', sans-serif;
	letter-spacing: 0.2px;
	margin-bottom: 20px;
}

/*
	==================================================
	Header
	font-family: 'Montserrat', sans-serif;
	font-family: 'Kaushan Script', cursive;
	font-family: 'BlackJack', cursive;
	==================================================
*/

header {
	background: #ccc url(../img/blue-pattern.jpg) repeat;
	color: #fff;
}

header img {
	top: 385px;
	left: 230px;
}

#logo {
	display: inline-block;
	float: left;
	margin-top: -30px;
	padding: 1px 37.5px 27px 37.5px;
	text-align: center;
	font: 50px 'Kaushan Script', cursive;
	color: #6cc8ff;
	background: #fff;
	box-shadow: 15px 15px 1px rgba(0, 0, 0, 0.1);
}

#menu-icon {
	margin-top: -2px;
	font-size: 30px;
	text-align: right;
}

#header-content {
	margin-top: 79px;
	margin-right: -5px;
	text-align: right;
}

#header-content p {
	font-size: 28px;
	font-weight: 100;
	line-height: 17.5px;
}

.btn-header {
	margin-right: 5px;
}

/*
	==================================================
	Content-1
	==================================================
*/

.content-1-content {
	width: 60%;
}

#content-1 img {
	bottom: -72.5px;
	right: -70px;
}


/*
	==================================================
	Content-2
	==================================================
*/

.content-2-content {
	width: 42.5%;
	margin-left: auto;
}

#content-2 img {
	bottom: -55px;
	left: -80px;
}

/*
	==================================================
	Donations
	==================================================
*/

#donations {
	color: #fff;
	text-align: center;
}

.btn-donations {
	margin: 26px;
}

.btn-donations span {
	font-style: italic;
	font-weight: 700;
}


/*
	==================================================
	Subcription
	==================================================
*/

#subscription {
	text-align: center;
}

#social-networks-icons div {
	display: inline-block;
	width: 55px;
	height: 55px;
	margin-right: 15px;
	margin-left: 15px;
	font-size: 22px;
	color: rgba(0, 0, 0, 0.5);
	border: 3px solid rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

#social-networks-icons i {
	margin-top: 13px;
}

#subscription-form {
	margin-top: 67px;
}

#subscription-form label span {
	font-weight: 700;
	font-style: italic;
	margin-right: 10px;
}

#subscription-form div {
	display: inline-block;
	width: 216px;
	padding: 9.5px 15px;
	background: #fff;
	text-align: left;
}

#subscription-form input {
	width: 85%;
	outline: none;
}

#subscription-form i {
	float: right;
	margin-top: 0.25em;
	font-size: 14px;
	color: #6cc8ff;
}

/*
	==================================================
	Footer
	==================================================
*/

footer {
	font-weight: 700;
	font-style: italic;
	text-align: center;
}

footer a {
	font-style: normal;
	text-decoration: none;
	color: #6cc8ff;
}
