/*
	========================================
	Main
	========================================
*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, p {
	margin: 0;
	padding: 0;
	color: #fff;
}

h1, span {
	font: 48px 'Lobster', cursive;
}

span {
	
}

p {
	font: 15px 'Open Sans', sans-serif;;
}

#page-wrapper {
	max-width: 1020px;
	/*margin: 0 auto;*/
}

/*
	========================================
	// for icons #8f8f8f
	========================================
*/

#product {
	display: table;
	height: 608px;
	padding: 0 97px 115px 97px;
	font-size: 0;
	background: url(../images/product-background.png);
}

#product-content-wrapper {
	display: table-cell;
	vertical-align: bottom;
}

#product img,
#product-description  {
	display: inline-block;
	vertical-align: top;
}

#product img {
	width: 293px;
}

#product-description {
	width: 60%;
	margin-top: -7.5px;
	margin-left: 30px;
}

#product-description h1 {
	margin-bottom: 11px;
}

#product-description div {
	width: 90%;
}

#product-description button,
#product-description span {
	margin-top: 68px;
}

#product-description span {
	float: right;
}

#product-description button {
	padding: 15px 51px;
	font-size: 16px;

	color: #fff;
	background: #ffa726;
	border: none;
	border-radius: 8px;
	outline: none;
}

/*
	========================================
	// for icons #8f8f8f
	========================================
*/

#about-us {
	height: 259px;
	background: #f2f2f2;
}

#sale {
	height: 548px;
	background: url(../images/sale-background.png);
}

#about-sale {
	height: 259px;
	background: #f2f2f2;
}

#reviews {
	height: 607px;
	background: url(../images/reviews-background.png);
}